@font-face {
    font-family: "BHN Akira Bold";
    src: url(public/fonts/BHN\ Akira\ Bold.woff2) format("woff2");
        /* url(public/fonts/times_new_roman-webfont.woff) format("woff"); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(public/fonts/montserrat-v26-vietnamese-regular.woff2) format("woff2");
}

/* Declaring variable  */
:root {
    /* Base/Background */
    --base-color: #000000;
    --base-pure-white: #ffffff;
    --base-sub-color: #7f7f7f;
    --base-brand-color: #ffffe4;
    /* Container */
    --container-color: #0d0d0d;
    --container-grid-item2-color: #050505;
    --container-border-color: rgba(255, 255, 255, 0.18);
    --container-base-border-hover: 1px solid rgba(0, 0, 0, 0);
    --container-border-radius: 12px;
        /* Container Button */
        --container-border-button-color: 1px solid rgba(255, 255, 255, 0.5);
        --container-bold-border-button-color: 1px solid rgb(255, 255, 255) ; 
    /* Typography */
    --font-base-color: #ffffff;
    --font-pure-black: #000000;
    --font-brand-color: #ffffe4;
    --font-subheading-color: #7f7f7f;
    --font-price-size: 15px;
    --typography-brand-title: "BHN Akira Bold";
    --typography-brand-subtitle: "Montserrat";
    --typography-brand-paragraph: "Montserrat";
    /* Components */
    --components-icon-brand-spotify: #1ED760;
    --components-icon-brand-soundcloud: #ff5500;
    --components-icon-container: #090909;
}

* {
    scroll-behavior: smooth;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    display: flex;
    background-color: var(--base-color);
    flex-direction: row;
    margin: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
}

/* Typography */
h1 {
    font-family: "BHN Akira Bold";
    margin-top: 0;
}

p {
    font-family: "Montserrat";
}

/* Using BEM approach to write CSS, maybe useful in case that I want to keep it simple */
/* BEM or Sass approach */
/* Grid container */
.container {
    display: grid;
    position: fixed; /* Fix error button icon in grid 3 does not work*/
    grid-template-columns: auto auto auto;
    width: 100vw;
    height: 100vh;
    color: var(--font-base-color);
    /* gap: 5px; */
    column-gap: 5px;
}

.container > div {
    padding: 20px;
    /* border: 2px solid white; */
    background-color: var(--container-color);
}

.container__grid1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; /* Enable this will align center all elements / */
    align-items: center;
    width: 20px; /* To enable this must have align-items */
    grid-column: 1/2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* row-gap: 30px; */
    border: 1px solid var(--container-border-color);
}

.container__grid2 {
    background-color: var(--container-grid-item2-color);
    grid-column: 2/6;
    border-radius: 20px ;
    border: 1px solid var(--container-border-color);
}

.container__grid3 {
    grid-column: 6/10;
    width: 500px;
    max-width: 30vw; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    row-gap: 20px;
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    user-select: none;
    border: 1px solid var(--container-border-color);
}


/* Container grid1: Sidebar */

.container__grid1__sidebar {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 400px; */
    height: 95vh;
    /* row-gap: 79vh; */
}

.container__grid1__sidebar__sidebar1 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 50%;
}


.container__grid1__sidebar__sidebar2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 20px;
    height: 50%;
}

.sidebar__scrollbtn {
    background: none; 
    border: none;
}

/* Grid item2: Contents */
.container__grid2__content {
    padding: 0;
    /* padding-left: 20px;
    padding-right: 20px; */
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column; */
    height: 95vh ;
}


/* Icons */
.material-symbols-outlined {
    text-align: center;
    color: var(--font-brand-color);
    /* margin: 0; */
    /* padding: 5px ; */
    border: 2px solid transparent; 
    /* dùng để tránh lỗi xê dịch icon khi hover vào */
    /* border: 2px solid white; */
    border-radius: var(--container-border-radius);
    transition: 0.5s;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
}

.material-symbols-outlined:hover {
    color: var(--base-color);
    /* border-color: #ffffff; */
    background-color: var(--base-brand-color);
    transform:scale(1.2);
    /* Enable for other theme */
    /* box-shadow: 0 0 20px rgb(255, 255, 255); */
}

/* Iframe */
iframe {
    border-radius: 12px;
}


/* Container grid3*/

.container__grid3__section {
    margin: 20px 0;
}

.section__toolbar {
    display: flex; 
    flex-direction: row; 
    margin: 0;
}

.section__toolbar #subheading {
    color: var(--font-subheading-color);
}

.container__grid3__section #pomodoro {
    margin-top: 0;
}

.container__grid3__section__image {
    /* position: relative;
    display: flex;
    justify-content: center; */
    /* padding: 100% 30px; */
    margin: 0 -20px;
    border-radius: 12px;
}

/* Text overlay on background-card */
/* To enable this must enbale position, display and justify-content of background-card */
/* .item3 .background-card .over-text-left {
    position: absolute;
    left: 20px;
} */

.container__grid3__section .fa-soundcloud {
    color: var(--font-subheading-color);
    transition: 0.5s;
    margin: 20px 0;
}

.container__grid3__section .fa-soundcloud:hover {
    cursor: pointer;
    color: var(--components-icon-brand-soundcloud);
    transform:scale(1.2);
    /* box-shadow: 0 0 20px rgb(255, 85, 0); */
}

.container__grid3__section .fa-spotify {
    color: var(--font-subheading-color);
    transition: 0.5s;
    margin: 20px 0;
}

.container__grid3__section .fa-spotify:hover {
    cursor: pointer;
    color: var(--components-icon-brand-spotify);
    transform: scale(1.2);
}


.container__grid3__section__videoplayer {
    /* position: relative;
    display: flex;
    justify-content: center;
    text-align: center; */
    margin: 0 -20px;
    border-radius: 12px;
}

/* Text overlay on video-card. */
/* To enable this must enable position:relative, display:flex and justify-content */
/* .item3 .video-card .over-text-left {
    position: absolute;
} */

.container__grid3__iconContainer {
    position: sticky;
    /* text-align: center; */
    /* display: inline; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 40%;
    bottom: 0;
    padding: 5px 20px;
    background-color: var(--components-icon-container);
    border-radius: 20px ;
    border: 1px solid var(--container-border-color);
    /* Glassmorphism effect */
    /* background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}


/* Custom scrolbar: Transparent style */
::-webkit-scrollbar {
    /* width: 5px; */
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* background-color: white; */
}


::-webkit-scrollbar-thumb {
    /* background-color: rgb(128, 128, 128, .2); */
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

@media screen and (max-height: 720px) {
   /* Grid container */
   /* Item2 */
    .container__grid2__content {
        padding-bottom: 20px;
        overflow-y: scroll;
        height: 90vh;
    }
    .container__grid2__content__section > h1 {
        font-family: var(--typography-brand-title);
    }
    .container__grid2__content__section > h2 {
        font-family: var(--typography-brand-subtitle);
        font-weight: 900;
    }
    .container__grid2__content__section > h3, h4, p {
        font-family: var(--typography-brand-paragraph);
    }
    /* Item1 */
    .container__grid1__sidebar {
        display: flex;
        flex-direction: column;
        height: 560px; /*Enable this to fix size of sizebar in normal browser screen*/
        /* height: 95vh; Enable this to fix size of sidebar in F11 fullscreen mode */
    }
    /* Item1: Sidebar */
    .container__grid1__sidebar__sidebar1 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 50%;
    }
    
    .container__grid1__sidebar__sidebar2 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        row-gap: 20px;
        height: 50%;
    }
    /* Google material icons */
    .material-symbols-outlined {
        /* text-align: center; */
        /* color: white; */
        /* margin: 0; */
        /* padding: 5px ; */
        /* border: 2px solid transparent;  */
        /* in order to avoid shaking when hovering button */
        /* border: 2px solid white; */
        /* border-radius: 20px;
        transition: 0.5s; */
        font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 200,
        'opsz' 48
    }

}

@media screen and (max-height:1080px) {
    /* Fix error with size of sidebar when turn on F11 fullscreen mode */
    /* This @media query max-heigth: 1080px can replace height: 95vh in 
        @media query max-height: 720px  */
    .container__grid1__sidebar {
        display: flex;
        flex-direction: column;
        height: 92vh;
    }
    
}

