/* @import url(/v2/src/css/brand.css);

body {
    margin: 0; 
    padding: 0; 
    display: flex;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
} */
.container__layout {
    display: flex;
    flex: 100%;
}
.container__layout .layout__items {
    border: var(--border);
    display: flex;
    flex: 100%;
    /* padding: 10px;  */
    /* lát xóa padding đi để nó tràn viền */
    /* gap: 10px; */
    /* nếu xóa gap thì sẽ liền kề  */
}
.container__layout .layout__items .layout__items-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: var(--border)
}
.container__layout .layout__items .layout__items-item.item1 {
    flex: 2%;
    padding: 10px;
}
.container__layout .layout__items .layout__items-item.item2 {
    flex: 64%;
}
.container__layout .layout__items .layout__items-item.item3 {
    flex: 34%;
}
.container__layout .layout__items .layout__items-item.item2 .view, .layout__items-item.item3 .view {
    height: 100%;
    overflow-y: scroll;
}
@media screen and (max-width:475px) {
    .container__layout .layout__items .item1 {
        display: none;
    }
    .container__layout .layout__items .item2 {
        display: none;
    }
}
