<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/v2/components/layout/layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/socialist-dev/modern-ui@main/style.css">
</head>
<body>
    <div class="container__layout">
        <div class="layout__items">
            <div class="layout__items-item item1">
                <div class="view"></div>
            </div>
            <div class="layout__items-item item2">
                <div class="view"></div>
            </div>
            <div class="layout__items-item item3">
                <div class="view"></div>
            </div>
        </div>
    </div>
</body>
</html>