@import url(css/brand.css);
@import url(../../components/layout/layout.css);
@import url(../../components/sidebar/sidebar.css);
@import url(../../components/text-editor/text-editor.css);
@import url(../../components/sidebar/sidebar.css);
@import url(../../components/panel/panel.css);
@import url(../../components/to-do-list/todo-list.css);

body {
    margin: 0; 
    padding: 0; 
    color: #fff;
    display: flex;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}
